<div class="footer">
    <div class="box">
        <div class="selection">
            <div>
                <p class="title"><b>Danh Mục Món Ăn</b></p>
                <p>Ưu Đãi</p>
                <p>Món Mới</p>
                <p>Combo 1 Người</p>
                <p>Combo Nhóm</p>
                <p>Gà Rán - Gà Quay</p>
                <p>Burger - Cơm - Mỳ Ý</p>
                <p>Thức Ăn Nhẹ</p>
                <p>Thức Uống & Tráng Miệng</p>
            </div>
            <div>
                <p class="title"><b>Về KFC</b></p>
                <p>Câu Chuyện Của Chúng Tôi</p>
                <p>Tin Khuyến Mãi</p>
                <p>Tin tức KFC</p>
                <p>Tuyển dụng</p>
                <p>Đặt tiệc Sinh nhật</p>
            </div>
            <div>
                <p class="title"><b>Liên hệ KFC</b></p>
                <p>Theo dõi đơn hàng</p>
                <p>Hệ Thống Nhà Hàng</p>
                <p>Liên hệ KFC</p>
            </div>
            <div>
                <p class="title"><b>Chính sách</b></p>
                <p>Chính sách hoạt động</p>
                <p>Chính sách và quy định</p>
                <p>Chính sách bảo mật thông tin</p>
            </div>
            <div>
                <p class="title"><b>Download App</b></p>
                <div class="logo">
                    <img src="./../../assets/img/appstore.png" alt="">
                    <img src="./../../assets/img/ggplay.png" alt="">
                </div>
            </div>
        </div>
        <div class="social-link">
            <p>Copyright © 2023 KFC Vietnam</p>
            <div class="logo">
                <img src="./../../assets/img/facebook.png" alt="">
                <img src="./../../assets/img/insta.jpg" alt="">
                <img src="./../../assets/img/youtube.png" alt="">
                <img src="./../../assets/img/twitter.png" alt="">
            </div>
        </div>
        <div>
                <hr>
                <div class="end">
                    <div class="info">
                        <p><b>CÔNG TY LIÊN DOANH TNHH KFC VIỆT NAM</b></p>
                        <p>Số 292 Bà Triệu, P. Lê Đại Hành, Q. Hai Bà Trưng, TP. Hà Nội.</p>
                        <p>Điện thoại: (028) 38489828</p>
                        <p>Email: lienhe@kfcvietnam.com.vn</p>
                        <p>Mã số thuế: 0100773885</p>
                        <p>Ngày cấp: 29/10/1998 - Nơi cấp: Cục Thuế Thành Phố Hà Nội</p>
                    </div>
                    <div class="logo">
                        <img src="./../../assets/img/bct_logo.png" alt="">
                    </div>
                </div>
        </div>
                
        
    </div>
</div>