.footer {
    height: auto;
    background-color: #202124;
    margin-top: 5%;
    display: flex;
  }
  
  .footer > .box {
    margin: 0px 52px;
    padding: 50px 15px 20px;
    background-color: #202124;
  }
  
  .footer > .box > .selection {
    height: 50%;
    color: #ababab;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .footer > .box > .selection > div {
    margin: 0px 60px;
  }
  .footer > .box > .selection > div > .title {
    color: white;
  }
  
  .footer > .box > .selection > div > .logo > img {
    width: 136px;
    height: 42px;
  }
  
  .footer > .box > .social-link {
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .footer > .box > .social-link > p {
    width: 70%;
    height: auto;
    color: #ababab;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 0;
  }
  .footer > .box > .social-link > .logo {
    margin: 15px 0px 0px;
    padding: 0px 0px 0px 25px;
  }
  .footer > .box > .social-link > .logo > img {
    width: 38px;
    height: 38px;
    margin-right: 15px;
    border-radius: 50%;
  }
  
  .footer > .box > div > .end {
    height: auto;
    margin: 0px 10px;
    display: flex;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .footer > .box > div > .end > .info {
    width: auto;
    height: auto;
    padding: 14px;
    color: #ababab;
    margin-left: 6%;
  }
  .footer > .box > div > .end > .info > p {
    margin: 0;
  }
  
  .footer > .box > div > .end > .info > p1 {
    margin-bottom: 1.42857143rem;
    font-size: 25px;
  }
  
  .footer > .box > div > .end > .logo {
    width: 40%;
    height: auto;
    padding: 42px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .footer > .box > div > .end > .logo > img {
    width: 205px;
    height: 77px;
    border-radius: 10px;
  }